.cartWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 20px 5%;
    gap: 16px;
}

.cartHeader {
    display: flex;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

}

.headerText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 70%;
}

.cartItemInfo h4 {
    -webkit-line-clamp: 2;
    overflow:hidden;
    text-overflow:ellipsis;
}

.cartItemInfo h5 {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.itemCounter {
    display: flex;
    flex-direction: row;
}

.itemPrice {
    text-align: center;
}

.cartFooter {
    height: 10%;
    box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
}