.NavBar {
    background-color: var(--quinary);
    height: fit-content;
    height: 40px;
    padding: 0% 10% 0% 10%;
}

.tabs {
    width: fit-content;
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.tabsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.tabsList li {
    float: left;
}
/* 
.dropdownList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

/* .loginItem {
    background-color: var(--primary);
} */

.navButton {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s linear;
    width: 100px;
    height: 100%;
    display: table;
}

.navSpan {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin: auto;
    line-height: normal;
    display:table-cell;
    vertical-align:middle;
}

.navButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.loginButton {
}

.balance {
    color: black;
    display: flex;
    align-items: stretch;
    height: 100%;
    margin-left: auto; 
    margin-right: 10px;
    background-color: white;
    border-radius: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .dropdown {
    display: none;
} */

/* @media only screen and (max-width: 739px) {
    .tabs {
        display: none;
    }
    .dropdown {
        position: absolute;
        top: 0px;
        width: fit-content;
        background-color: yellow;
        display: flex;
        align-items: stretch;
    }
} */

