.NavBar {
    background-color: var(--quinary);
    padding: 0% 10% 0% 10%;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navButton {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s linear;
    padding: 14px 16px;
}

.roleButton {
    background-color: var(--quaternary);
}

.navSpan {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: inline;
    vertical-align:middle;
}

.navButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.balance {
    color: black;
    display: flex;
    align-items: stretch;
    height: 100%;
    margin-left: auto; 
    margin-right: 10px;
    background-color: white;
    border-radius: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown:hover .dropdown-content {
    clip-path: inset(0 -16px -16px -16px);
}

.dropdown-content {
    position: absolute;
    overflow: hidden;
    transition: clip-path 0.5s;
    clip-path: inset(0 -16px 100% -16px);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 0;
}

.dropdown-content a span {
    padding: 14px 16px;
    display: inline-block;
}

/* @media only screen and (max-width: 739px) {
    .tabs {
        display: none;
    }
    .dropdown {
        position: absolute;
        top: 0px;
        width: fit-content;
        background-color: yellow;
        display: flex;
        align-items: stretch;
    }
} */

